body {
  background: #031321;
  color: #333333;
  margin-top: 5rem;
  font-family: Century Gothic;
}

h1, h2, h3, h4, h5, h6 {
  color:white;
}

ul {
  margin: 0;
}
.bg-steel {
  background-color: #031321;
}
.navbar-brand mr-4{
  font-size: 19;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

.site-header .navbar-nav .nav-link:hover {
  background-color: #fff;
  color: #000;
}

.site-header .navbar-nav .nav-link.active {
  background-color: #fff;
  color: #000;
}

.content-section {
  background: #031321;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.article-title {
  color: white;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: white;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.author-img1{
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-heading {
  font-size: 2.5rem;
}
.form-control{
  background: #031321;
  color: white
}
.control-file{
  background: #031321;
}
.border-bottom{
  color: white;
  background: #031321;
}
.form-group{
  color: white
}
.text-secondary{
  color:white
}

.post-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}